<!DOCTYPE html>
<html>

<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Nạp các file CSS của Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <style>
		.my-bg {
			background-color: #e6fce1;
		}
	</style>
</head>

<body class="my-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-4 p-5 rounded p5 bg-white">
                <h2 class="text-center">Login</h2>
                <form th:object="${user}" th:action="@{/login/check}" th:method="post">
                    <div class="mb-3">
                        <label class="form-label">Username</label>&#160;
                        <span style="color: red">&#160;(*)</span>
                        <input class="form-control" type="text" name="username" th:value="${user.username}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>&#160;
                        <span style="color: red">&#160;(*)</span>
                        <input class="form-control" type="password" name="password" th:value="${user.password}" required>
                    </div>
                    <div th:if="${error == 'true'}">
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <div>
                            	<i class="fa-solid fa-triangle-exclamation"></i>
                                Wrong username or password!
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input name="remember" value="1" type="checkbox" class="form-check-input">
                    	<label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <button class="btn btn-success form-control" type="submit"><i class="fas fa-sign-in-alt"></i>&#160; Sign in</button>
                    <hr>
                    <a th:href="@{/signup}" class="btn btn-primary form-btn"><i class="fas fa-user-plus"></i>&#160;Sign up</a>
                    <a href="javascript:history.back()" class="btn"><i class="fa-solid fa-chevron-left" style="padding-left: 150px;"></i>&#160;Back</a>
                </form>
            </div>
        </div>
    </div>
    <!-- Nạp các file JavaScript của Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>