<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		.my-bg {
            background-color: #e6fce1;
        }
        td{
        	vertical-align: middle !important;
        }
	</style>
	</head>

<body style="font-family: Arial, Helvetica, sans-serif;" class="my-bg">
    <div class="container mt-5">
        <div class="row">
            <h1 class="text-center">All Users</h1>
        </div>
        <a th:href="@{/manage}" class="mt-3 btn btn-primary mb-5 text-light"><i class="fa-solid fa-chevron-left"></i>&#160;Back</a>
        <table class="table table-striped table-bordered mt-3 bg-light rounded p3">
            <thead class="bg-success text-light">
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.user_id}"></td>
                    <td th:text="${user.first_name + ' ' + user.last_name}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                   <td style="text-align: center;">
					    <div class="btn-group" role="group">
					        <form th:object="${user}" th:action="@{/delete/user}" th:method="Delete" 
					        onsubmit="return confirm('Are you sure you want to delete this product?')">
					        	<input type="hidden" th:name="user_id" th:value="${user.user_id}" />
					            <input type="submit" value="Delete" class="btn btn-danger">
					        </form>
					    </div>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>