<footer th:fragment="Footer">
	<div class="footer-top">
		<div class="footer-top-list container">
			<div class="footer-top-item">
				<div class="icon-wrap">
					<span><i class="fa-solid fa-clock"></i></span>
				</div>
				<div class="text-wrap">
					<p>CHUYỂN HÀNG ĐÚNG GIỜ</p>
				</div>
			</div>
			<div class="footer-top-item">
				<div class="icon-wrap">
					<span><i class="fa-solid fa-cloud"></i></span>
				</div>
				<div class="text-wrap">
					<p>DỊCH VỤ TỐT NHẤT</p>
				</div>
			</div>
			<div class="footer-top-item">
				<div class="icon-wrap">
					<span><i class="fa-solid fa-life-ring"></i></span>
				</div>
				<div class="text-wrap">
					<p>HỖ TRỢ KHÁCH HÀNG 24/7</p>
				</div>

			</div>
		</div>
	</div>
	<div class="footer-main container">
		<div class="row">
			<div class="col-3 footer-main-item">
				<div class="title">CHÍNH SÁCH</div>
				<ul>
					<li class="menu-item">Đăng ký cộng tác viên</li>
				</ul>
			</div>
			<div class="col-3 footer-main-item">
				<div class="title">KHÁCH HÀNG</div>
				<ul>
					<li class="menu-item">Chính sách & Quy định chung</li>
					<li class="menu-item">Chính sách bảo mật thông tin</li>
					<li class="menu-item">Chính sách đổi/trả hàng và hoàn tiền</li>
					<li class="menu-item">Bán hàng doanh nghiệp</li>
				</ul>
			</div>
			<div class="col-3 footer-main-item">
				<div class="title">HỖ TRỢ KHÁCH HÀNG</div>
				<ul>
					<li class="menu-item">Liên hệ</li>
					<li class="menu-item">Sơ đồ trang</li>
					<li class="menu-item">Hướng dẫn thanh toán</li>
					<li class="menu-item">Hướng dẫn mua hàng</li>
				</ul>
			</div>
			<div class="col-3 footer-main-item">
				<div class="title">LIKE ĐỂ NHẬN ƯU ĐÃI MỚI NHẤT</div>

			</div>
		</div>
	</div>
	<div class="company-name">
		<span>@NewShop.vn all rights reserved</span>
	</div>
</footer>